<div class="container">
    <form>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <p>Ingresar nombre:</p>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <p>Ingresar apellido:</p>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </form>
</div>