<style type="text/css">
	.scrollDiv {
		height: 500px;
		overflow: auto;
		overflow-x: hidden;
	}
</style>

<!--<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-block">
    <h4 class="card-title">Special title treatment</h4>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <p>Hola Test 1</p>
    <a ui-sref="test_main.list.test">back</a>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>-->

<div class="card" style="margin-top:20px;">
  <div class="card-header">
    Featured
  </div>
  <div class="card-block">
    <h4 class="card-title">Special title treatment</h4>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
    <p>Hola Test 1</p>
    <a ui-sref="test_main.list.test">back</a>
  </div>
</div>